asgiref==3.2.10
Django==3.1
django-cors-headers==3.4.0
djangorestframework==3.11.1
djangorestframework-simplejwt==4.4.0
psycopg2-binary>=2.8
pytz==2020.1
coverage==5.2.1
hypothesis[cli,django]==5.33.1
