.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Ignore locally stored media
jinx_project/

# Local History for Visual Studio Code
.history/